{% extends "base_with_sidebar.html" %}
{% block style %}
{{ super() }}
    .button{
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 17px;
        padding-left: 7px;
        color: blue;
    }
    .inline {
      display: inline;
    }
{% endblock %}
{% block title %}Info about {{ posts.book[1] }}{% endblock %}
{% block head_title %} {{ posts.book[1] }}{% endblock %}
{% block dev_id %}
<h2 style="text-align:center;">
By:
{% for auth in posts.authors %}
    {% if loop.last and posts.authors|length > 1 %}
        and
    {% endif %}
    {{ auth }}
    {% if loop.index < (posts.authors|length)-1 %}
        ,
    {% endif %}
{% endfor %}
</h2>
{{ super() }}
{% endblock %}
{% block submit_form %}
<div class="main_form">
    <h2 align="center"><u>Info about this book:</u></h2>
    <div id="book_info">
        <label>Average rating: {{ posts.book[9] }}</label>
        <br><br>
        <label>ISBN: {{ posts.book[0] }}</label>
        <br><br>
        <label>Publisher: {{ posts.book[2] }}</label>
        <br><br>
        <label>Date Published: {{ posts.book[4] }}</label>
        <br><br>
        <label>Language: {{ posts.book[3] }}</label>
        <br><br>
        <label>Number of Pages: {{ posts.book[5] }}</label>
        <br><br>
        <label>Currently in stock: {% if posts.book[6] > 0 %}Yes{% else %}No{% endif %}</label>
        <br><br>
        <label>Genre: {{ posts.book[8] }}</label>
        <br><br>
        <label>Price: ${{ posts.book[7] }}</label>
    </div>
    <div id="action_div" align="right">
        <form id="action_form" method="post">
            <input type="submit" class="button" id="rate" name="rate" value="Rate this Book">
            &nbsp;
            <input type="hidden" id="ISBN" name="ISBN" value="{{ posts.book[0] }}">
            <input type="submit" style="width:120px" class="button" id="return" name="return" value="Return to Catalog">
            &nbsp;
            <input type="submit" class="button" id="order" name="order" value="Buy this Book">
        </form>
    </div>
</div>
<br>
{% if posts.book[11] > 0 %}
    <div class="main_form">
        <h2 align="center"><u>User Reviews:</u></h2>
        <div id="review_order_div">
            <form id="order_form" method="post">
                <label>Show top</label>
                <input type="number" id="n" name="n" value="20" min="1" max="99" style="width:30px;">
                <label>most useful comments</label>
                &nbsp;
                <input type="submit" class="button" style="width:60px; height:20px;" id="enter" name="enter">
            </form>
            <br><br>
        </div>
        {% for comment in posts.comments %}
        <div style="border:1px solid black; padding:10px;">
            <label><b>Username:</b> {{ comment[2] }}</label>
            <br><br>
            <label><b>Score:</b> {{ comment[3] }}</label>
            <br><br>
            <label><b>Date published:</b> {{ comment[8] }}</label>
            <br><br>
            {% if comment[4] %}
            <label><b>Message:</b> <small_label>{{ comment[4] }}</small_label></label>
            {% else %}
                <label><b>Message:</b> No message given.</label>
            {% endif %}
            <br><br>
            <form method="post" class="inline">
                <label style="font-size:15px; color:Red; width:120px;">Very Useful: {{ comment[5] }}</label>
                <br>
                <label style="font-size:15px; color:Red; width:120px">Useful: {{ comment[6] }}</label>
                <br>
                <label style="font-size:15px; color:Red; width:120px">Useless: {{ comment[7] }}</label>
                <br><br>
                {% if comment[2] != posts.loginID %}
                    <input type="hidden" name="ISBN" value="{{ comment[1] }}">
                    <button type="submit" name="Very useful" value="{{ comment[0] }}" class="button">
                      Very Useful
                    </button>
                    &nbsp;
                    <button type="submit" name="Useful" value="{{ comment[0] }}" class="button">
                      Useful
                    </button>
                    &nbsp;
                    <button type="submit" name="Useless" value="{{ comment[0] }}" class="button">
                      Useless
                    </button>
                {% endif %}
           </form>
        </div>
        <br>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}