{% extends "base_with_sidebar.html" %}
{% block style %}
{{ super() }}
    .button{
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 17px;
        padding-left: 7px;
        color: blue;
    }
{% endblock %}
{% block title %}{{ posts.info.loginID }}'s profile page{% endblock %}
{% block head_title %}{{ posts.info.loginID }}'s profile page{% endblock %}
{% block dev_id %}{{ super() }}{% endblock %}
{% block submit_form %}
<div class="main_form">
    <form id="main_form" method="post">
        <div id="basic_info_div">
            <label><b>First name:</b> {{ posts.info.firstName }}</label>
            <br><br>
            <label><b>Last name:</b> {{ posts.info.lastName }}</label>
            <br><br>
            <label><b>Orders made:</b> {{ posts.info.orderCount }}</label>
            <br><br>
            <label><b>Total books purchased:</b> {{ posts.info.books_purchased }}</label>
            <br><br>
            <label><b>Number of comments written:</b> {{ posts.info.num_comments }}</label>
            <br><br>
            <label><b>Number of trusted:</b> {{ posts.info.trusted }}</label>
            <br><br>
            <label><b>Number of untrusted:</b> {{ posts.info.untrusted }}</label>
            <br><br>
            <label><b>Your trust status of this person:</b>
                {% if posts.info.personalStatus|length %}
                {{ posts.info.personalStatus }}
                {% else %}
                None
                {% endif %}</label>
        </div>
        {% if posts.loginID != posts.info.loginID %}
            <br>
            <div id="trust_div" style="float:right">
                <form id="trust_form" method="post">
                    <input type="submit" id="trust" class="button" name="trust" value="Trust user">
                    <input type="submit" id="untrust" class="button" name="untrust" value="Distrust user">
                </form>
            </div>
        {% endif %}
    </form>
</div>
<br>
{% if posts.info.comments|length > 0 %}
    <div class="main_form">
        <h2 align="center"><u>Comments made by {{ posts.info.loginID }}:</u></h2>
        {% for comment_index in range(posts.info.comments|length) %}
        <div style="border:1px solid black; padding:10px;">
            <label><b>Title:</b> {{ posts.info.books_commented[comment_index][0][1] }}</label>
            <br><br>
            <label><b>Author(s):</b>
                {% for auth in posts.info.books_commented[comment_index][1] %}
                    {{ auth }}
                    {% if not loop.last %}
                        ,
                    {% endif %}
                {% endfor %}
            </label>
            <br><br>
            <label><b>Score:</b> {{ posts.info.comments[comment_index][3] }}</label>
            <br><br>
            <label><b>Date published:</b> {{ posts.info.comments[comment_index][8] }}</label>
            <br><br>
            {% if posts.info.comments[comment_index][4] %}
            <label><b>Message:</b> <small_label>{{ posts.info.comments[comment_index][4] }}</small_label></label>
            {% else %}
                <label><b>Message:</b> No message given.</label>
            {% endif %}
            <br><br>
            <label><b>Average usefulness score:</b> {{ posts.info.comments[comment_index][8] }}</label>
        </div>
        <br>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}