{% extends "base_with_sidebar.html" %}
{% block style %}
{{ super() }}
{% endblock %}
{% block title %}Bookstore Home Page{% endblock %}
{% block head_title %}Welcome to the Bookstore!{% endblock %}
{% block dev_id %}{{ super() }}{% endblock %}
{% block submit_form %}
<div class="main_form">
    <form id="main_form" method="post">
        <label>Welcome {{ user }}! Please use the navigation bar on the left to find what you need,
        or alternatively click any of the links below to be redirected.</label>
        <br><br>
        <ul>
            <li><a href="/index/catalog">Search our library</a></li>
            <li><a href="/index/order_book">Place an order</a></li>
            <li><a href="/index/my_orders">View your past orders</a></li>
            <li><a href="/index/my_cart">View your shopping cart</a></li>
            <li><a href="/index/customer_archives">Search for other customer profile pages</a></li>
            <li><a href="/index/return_request">Request to return a book you ordered</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </form>
</div>
{% endblock %}