{% extends "base_with_sidebar.html" %}
{% block style %}
{{ super() }}
    #confirm{
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 17px;
        padding-left: 7px;
        color: blue;
    }
    #cancel{
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 17px;
        padding-left: 7px;
        color: blue;
    }
    #keep_shopping{
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 17px;
        padding-left: 7px;
        color: blue;
    }
{% endblock %}
{% block title %}Confirm your order{% endblock %}
{% block head_title %}Confirm Your Order{% endblock %}
{% block dev_id %}{{ super() }}{% endblock %}
{% block submit_form %}
<div class="main_form" style="width:800px">
    <form id="confirm_form" method="post">
         <div id="results_div">
            <table style="width:100%; border:0px;">
               {% for i in range(posts.book|length) %}
               {% if loop.first %}
               <tr>
                   <th>Title</th>
                   <th>Author(s)</th>
                   <th>Quantity</th>
                   <th>Price</th>
                   <th>Totals</th>
               </tr>
               {% endif %}
               <tr>
                   <td>{{ posts.book[i][1] }}</td>
                   <td>
                       {% for auth in posts.authors[i] %}
                           {{ auth }}
                           {% if not loop.last %}
                                ,
                           {% endif %}
                       {% endfor %}
                   </td>
                   <td align="right">{{ posts.quantity[i] }}</td>
                   <td align="right">${{ posts.book[i][7] }}</td>
                   <td align="right">${{ posts.cumulative_price[i] }}</td>
               </tr>
               {% endfor %}
                <tr>
                    <td style="border:0px"></td>
                    <td style="border:0px"></td>
                    <td style="border:0px"></td>
                    <td style="border:0px"></td>
                    <td align="right" style="font-weight:bold;">${{ posts.total_price }}</td>
                </tr>
           </table>
        </div>
        <div id="actions_div" style="float:right">
            <input type="submit" id="confirm" name="confirm" value="Complete order">
            <input type="submit" id="cancel" name="cancel" value="Return to Cart">
            <input type="submit" id="keep_shopping" name="keep_shopping" value="Keep Shopping">
        </div>
    </form>
</div>
{% endblock %}